/* Set body font and background */
body {
    font-family: "Arial", sans-serif;
    background-color: white;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Set container width and add padding */
.container {
    margin: 10px auto; /* Add some space on top and bottom */
    padding: 20px; /* Increase padding for better spacing */
    background-color: transparent; /* White container background */
    border-radius: 12px; /* Larger rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
}

/* Style headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #001f3f; /* Blue accent color */
}

/* Style links */
a {
    color: #a67130; /* Brown accent color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style code blocks */
code {
    background-color: #f0f0f0; /* Lighter code block background */
    border: 1px solid #ddd;
    border-radius: 6px; /* Slightly larger rounded corners */
    padding: 4px 8px;
    color: #333; /* Dark text color for code */
}

/* Style tables */
table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Style code blocks */
pre {
    background-color: #f0f0f0; /* Lighter preformatted text background */
    border: 1px solid #ddd;
    border-radius: 6px; /* Slightly larger rounded corners */
    padding: 15px;
    overflow-x: auto;
    color: #333; /* Dark text color for preformatted text */
}

/* Style blockquotes */
blockquote {
    border-left: 4px solid #001f3f; /* Blue accent color for blockquotes */
    margin: 0;
    padding: 15px;
    color: #555; /* Slightly darker text color for blockquotes */
}

/* Style navigation */
nav.navigation {
    background-color: #001f3f; /* Blue navigation background */
    color: #000;
}

nav.navigation a {
    color: #000;
}

.navbar {
    background-color: #001f3f !important;
    height: 70px;
    background-image: none;
    padding: 0;
}
